@media (max-width:3000px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers{
        flex-wrap: wrap;
    }

    #contact{
       margin-bottom: 0px;
    }

    section, .section-container{
        height: fit-content;
    }
    
}


@media (min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: gray;
    }

    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-80px);
        border-radius: 20px 0px 20px 20px;
    }

    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(80px);
        border-radius: 0px 20px 20px 20px;
    } 

    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -40px;
    }

    .timeline ul li:nth-child(even)::after{
        transform: translate(50%, -50%);
        left: -60px;
    }

    .timeline ul li:hover:after{
        background-color: rgb(0, 0, 0);
    }

    .timeline-content .date{
        position: absolute;
        top: -20px;
    }
    .timeline-content {
        position: relative;
        overflow: hidden; /* Ensure that the hidden image does not overflow the timeline content */
    }
    
    .hidden-image {
        position: absolute;
        top: -100%; /* Initial position above the timeline content */
        left: 0;
        width: 100%;
        transition: top 0.3s ease; /* Adjust the duration and timing function as needed */
    }
    
    .timeline ul li:hover .hidden-image {
        top: 0; /* Move the image down to reveal it */
    }
}

@media (max-width:1200px){
    .floating-image {
        position: absolute; /* Use absolute positioning for the image */
        top: 75%; /* Adjust the top position */
        left: 50%; /* Adjust the left position */
        transform: translate(-50%, -50%); 
      }

    .text-container-1{
        font-weight:600;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    

    .main-title{
        font-size: 5rem;
        text-align: center;
    }
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display:flex;
    }

    #experience, .experience-details-container{
        margin-top: 2rem;
    }

    #profile, .section-container{
        display: block;
    }

    

    section, .section-container{
        height: fit-content;
    }

    section{
        margin: 0 5%;
    }

    .section__pic-container{
        width: 300px;
        height: 300px;
        margin: 0 auto 2rem;
    }

    .about-containers{
        margin-top: 0;
    }

    
}

@media (max-width:600px){

    .main-title{
        font-size: 3rem;
        text-align: center;
    }

    .sub-title{
        font-size: 2rem;
    }

    #contact, footer{
        height: 40vh;
    }

    #profile{
        height: 50vh;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-containers, .btn-container{
        flex-wrap: wrap;
    }

    .contact-info-container{
        margin: 0;
    }

    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.5rem;
    }
    .logo{
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }

    .text-container{
        text-align: justify;
    }
}


